        <h1 id="beamscanner-v04">BeamScanner v0.5</h1>
<p>This program connects to a USB-3105 DAC device and
creates a X-Y scan pattern for uniform irradiation of
an area by the ion beam.</p>
<p>The output from USB-3105 can
drive a set of power supplies connected to magnetic or
electrostatic beam deflectors.</p>
<p>Project repo: <a href="https://gitlab.com/ir2-lab/beamscanner">https://gitlab.com/ir2-lab/beamscanner</a></p>
<h2 id="usage">Usage</h2>
<ul>
<li>Connect the USB-3105 to a usb port. The status in the BeamScanner window should change to &quot;Connected&quot;</li>
<li>Set the general scan parameters: scan period, amplitude and bias</li>
<li>Select the scan mode (Spiral, Linear or Lissajous) and adjust the relevant parameters</li>
<li>Observe the scan on the graph pane.</li>
<li>Press <code>Start/Stop</code> to start the scan</li>
</ul>
<p><strong>Note</strong>: With the USB device connected, the bias voltage is continuously updated at the device terminals.</p>
<h2 id="scan-modes">Scan modes</h2>
<ul>
<li><strong>Spiral:</strong> Generates a wobbling scan around the center which ensures uniform irradiation of a circular area. It consists of a beam rotation where the amplitude is modulated proportionally to sqrt(t).</li>
<li><strong>Linear:</strong> Generates a linear pattern with either vertical or horizontal lines</li>
<li><strong>Lissajous:</strong> Generates a Lissajous figure for testing purposes (this is not a uniform irradiation scan)</li>
</ul>
<p>In all cases the output is updated every 10ms (100Hz base frequency). The scan period Tsc defines the number of points N in the scan as N = 100*Tsc. The user must check in the graph that the point density is sufficient to generate a relatively smooth scanning operation. If this is not the case then Tsc should be increased.</p>
<h2 id="electrical-specifications">Electrical specifications</h2>
<p>The X and Y scan components are sent to USB-3105 channels 0 and 1, respectively.
The output is bipolar to max. ±10V.</p>
